<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MSS registration invite</title>
</head>
<body>
Hello, ${userName}! <br/>

<br/>
<br/>
To complete registration follow the link:<br/>
    ${regLink}

</body>
</html>