<form action="/webclient/j_spring_security_check" method="post">
    <div class="v-captionwrapper input-login-wrapper">
        <div id="usernameLabel" class="v-caption" for="usernameTextField">
            <div class="v-captiontext">E-mail</div>
        </div>
        <input id="usernameTextField" name="j_username"
               class="v-textfield v-widget v-has-width" type="text" aria-labelledby="usernameLabel" style="width: 300px;">
    </div>

    <div class="v-captionwrapper input-login-wrapper">
        <div id="passwordLabel" class="v-caption" for="passwordTextField">
            <div class="v-captiontext">Password</div>
        </div>
        <input id="passwordTextField" name="j_password"
               class="v-textfield v-widget v-has-width" type="password" aria-labelledby="passwordLabel" style="width: 300px;">
    </div>

    <div class="v-button v-widget input-login-wrapper">
        <input class="v-button-wrap login-button" type="submit" value="Login">
    </div>
</form>