<div class="editor-panel">
    <div class="editor-wrapper">
        <div class="editor-field-wrapper">
            <div class="editor-label">
                Balance
            </div>
            <div class="right-editor-field-wrapper">
                <div class="editor-field" location="balanceTextField"></div>
            </div>
        </div>
        <div class="editor-field-wrapper">
            <div class="editor-label"></div>
            <div class="error-message" location="balanceErrorMessage"></div>
        </div>
    </div>

    <div class="editor-wrapper">
        <div class="editor-field-wrapper">
            <div class="editor-label">
                E-mail
            </div>
            <div class="right-editor-field-wrapper">
                <div class="editor-field" location="emailTextField"></div>
            </div>
        </div>
    </div>

    <div class="editor-wrapper">
        <div class="editor-field-wrapper">
            <div class="editor-label">
                Privilege
            </div>
            <div class="right-editor-field-wrapper">
                <div class="editor-field" location="privilegeField"></div>
            </div>
        </div>
    </div>

    <div class="editor-wrapper">
        <div class="editor-field-wrapper">
            <div class="editor-label">
                UUID
            </div>
            <div class="right-editor-field-wrapper">
                <div class="editor-field" location="uuidTextField"></div>
            </div>
        </div>
    </div>

    <div class="editor-wrapper">
        <div class="editor-field-wrapper">
            <div class="editor-label">
                Activated
            </div>
            <div class="right-editor-field-wrapper">
                <div class="editor-field" location="activatedField"></div>
            </div>
        </div>
    </div>

    <div class="editor-wrapper">
        <div class="editor-field-wrapper">
            <div class="editor-label">
                Signed In
            </div>
            <div class="right-editor-field-wrapper">
                <div class="editor-field" location="signInField"></div>
            </div>
        </div>
    </div>

</div>