<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <import resource="classpath:spring/serviceContext.xml"/>
    <import resource="securityContext.xml"/>

    <bean id="applicationContextProvider" class="com.fxmind.utils.ApplicationContextProvider"></bean>

    <context:component-scan base-package="com.fxmind.manager"/>
    <context:annotation-config/>

</beans>
